@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
  color: #00a7fa;
  font-family: 'Open Sans', sans-serif;
}

.Header-logo {
  text-align: center;
}

.Header-main {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}


.Header-nav {
  width: 100%;
}

.potencia {
  font-size: 30px;
}

.precio {
  font-size: 30px;
}

.image-top {
  text-align: center;
}

.imagen {
  height: 200px;
}

.image {
  transition: all .6s ease-in-out;
}

.image:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.Header a {
  text-decoration: none;
  color: #fa0000;
}
.Introduction {
  display: grid;
  grid-template-columns: 30% 70%;
}

.Introduction .text,
.Introduction .image {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Introduction img {
  width: 40%;
}

.Datos {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  align-items: center;
}

.Datos p {
  text-align: center;
  
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar ul  li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}